* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  padding: 30px;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul li{
  list-style-type: none;
}

.d-lMode {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: 0;
  font-size: 14px; 
  border-radius: 15px;
}

.preview {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-box {
  width: 1375px;
  height: 200px;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
  outline: 0;
  padding: 10px;
}

.button-area {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: 0;
  font-size: 16px; 
  border-radius: 20px;
}